<h1>New Task Application</h1>
<p><%= @application.email %> has applied for your task: <strong><%= @task.description %></strong>.</p>
<p>Contact: <%= @application.contact_number %></p>
<p>Address: <%= @application.address %></p>

