<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>You've Been Selected!</title>
  </head>
  <body>
    <h1>Hello <%= @worker.name %>,</h1>

    <p>Good news! You been selected for the following task:</p>

    <p>
      <strong>Description:</strong> <%= @task.description %><br>
      <strong>Location:</strong> <%= @task.location %><br>
      <strong>Due Date:</strong> <%= @task.due_date.strftime('%B %d, %Y') %>
    </p>

    <p>Please log in to your dashboard to view full details and start the work.</p>

    <p>Thank you,<br>The Team</p>
  </body>
</html>
