<!-- app/views/tasks/search.html.erb -->
<h1>Search Results</h1>

<% if @tasks.present? %>
  <ul>
    <% @tasks.each do |task| %>
      <li><%= task.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>No tasks found.</p>
<% end %>

<%= link_to "Back to All Tasks", tasks_path %>