<br>
<% @tasks.each do |task| %>
      <tr>
       task_name: =  <td><%= task.description %></td><br>
        contact_info: = <td><%= task.contact_info %></td><br>
        category_name: =  <td><%= task.category.category_name if task.contractor %></td><br>
        contractor_name : = <td><%= task.contractor.name if task.category %></td><br>
        <td>
        <tr>
            <%end%>