<h1>All Categories</h1>
<%= link_to 'Add New Category', new_category_path %>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>

    <% @categories.each do |category| %>
      <tr>
        <td><%= category.category_name %></td> 
        <%# <td><%= link_to 'Delete', admin_category_path(category.id), method: :delete, data: { confirm: 'Are you sure?' } %></td> 
      <td> <%= button_to 'Destroy', admin_category_path(category.id), method: :delete, :onclick => "return confirm('Are you sure you want to delete this category?')" %></td>
    <% end %>
  </tbody>
</table>
